@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #e6defd;
    --: #f5c3d6;
    --branco: #e6defd;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(172, 165, 245, 0.5);
    --texto-fundo: rgba(163, 144, 248, 0.856);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao {
    font-family: "Crakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}
body > p {
  width: 350px;
  background: pink;
}
.link-denuncia {
  color: rgb(162, 162, 223);
  text-decoration: none; /* Remove a sublinhado padrão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.link-denuncia:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o cursor */
}

footer {
  background: rgb(0, 0, 0);
}